/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17 mai 2020, 09:20:45
    Author     : kenza

----> CSS page d'accueil'

*/

.navbar-expand{
    background-color: #b8f1f1 ;
}

html, body{
    position: relative;
    height: 100%;
}

body{
    margin:0px;
    padding: 0px;
    font-family: sans-serif;
    background-color: white;

}
.swiper-slide{
    width: 250px !important;
    display: inline-block;
}

.slider-box{
   
    display: flex; /* Ce conteneur est "flexible" */
    flex-wrap: wrap;
    margin: 10px;
    height: 350px;
    width: 250px;
    position: relative;
background-color: white;
border-radius: 5px;
display: flex;
flex-direction: column;
justify-content: center;

text-align: center;
border:1px solid rgba(187,187,187,1.00);}

.slider-box a{
    text-decoration: none;
    text-align: center;
}

.img-box{
    height: 170px;
}

.img-box img{
    height: auto;
    max-height: 100%;
    max-width: 100%;
}

.time{
    position: absolute;
    top: 0px;
    right: 20px;
    color: red;
}

.detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    font-size: 13px;
    line-height: 35px;
}

.price{
    color: black;
    font-family: 'Nordic'; /* Police de caractères */
    font-size: x-large; 
    background-color: white;
}

.cart{
    position: absolute;
    bottom: 0px;
    height: 45px;
    background-color: aquamarine;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart a{
    color: black;}

.slider-box:hover{
    box-shadow: 2px 2px 12px rgba(47,47,47,0.40);
}

.slider-box:hover .img-box img{
    transform: scale(1.07);
    transition: all ease 0.3s;
}

.cart:hover{
    transform: scale(1.1);
    background-color: activeborder;
    box-shadow: 2px 2px 12px rgba(47,47,0,0.40);
    transition: all ease 0.1s;
}

