/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17 mai 2020, 09:20:45
    Author     : kenza

----> CSS page d'accueil'

*/

.navbar-expand{
    background-color: white ;
     
}


/*
html, body{
  font-size: 62.5%;
}
  


body{
    margin:0px;
    padding: 0px;
    font-family: sans-serif;
    background-color: white;

}

.swiper-slide{
    width: 250px !important;
    display: inline-block;
}

.slider-box{
   
    display: flex; 
    flex-wrap: wrap;
    margin: 10px;
    height: 350px;
    width: 250px;
    position: relative;
background-color: white;
border-radius: 5px;
display: flex;
flex-direction: column;
justify-content: center;

text-align: center;
border:1px solid rgba(187,187,187,1.00);}

.slider-box a{
    text-decoration: none;
    text-align: center;
}

.img-box{
    height: 170px;
}

.img-box img{
    height: auto;
    max-height: 100%;
    max-width: 100%;
}

.time{
    position: absolute;
    top: 0px;
    right: 20px;
    color: red;
}


.detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    font-size: 13px;
    line-height: 35px;
}

.price{
    color: black;
    font-family: 'Nordic'; 
    font-size: x-large; 
    background-color: white;
}

.cart{
    position: absolute;
    bottom: 0px;
    height: 45px;
    background-color: aquamarine;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart a{
    color: black;}

.slider-box:hover{
    box-shadow: 2px 2px 12px rgba(47,47,47,0.40);
}

.slider-box:hover .img-box img{
    transform: scale(1.07);
    transition: all ease 0.3s;
}

.cart:hover{
    transform: scale(1.1);
    background-color: activeborder;
    box-shadow: 2px 2px 12px rgba(47,47,0,0.40);
    transition: all ease 0.1s;
}
*/

/* magic */


body {
  margin: 0;
  padding: 0;
 

}



header {
  background-color: white;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  

}

h1 {
  text-align: center;
  color: #fff;
  font-family: Lobster, sans-serif;
  font-size: 13rem;
  margin: 0;
  position: relative;
  top: 10rem;
  letter-spacing: 5px;
  width: 100%;
}


/* Section */

.img1 {
  background-color: white;
}


.box {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50rem;
  height: 30rem;
  text-align: center;
  background: #b8f1f1;
  color: black;
  line-height: 1.5rem;
  font-family: sans-serif;
  font-weight: 100;
  padding: 3.5rem;
  
}

h2 {
  font-size: 4rem;
  font-family: 'lato', sans-serif;
  line-height: 1.25rem;
}



.text {
    
  font-size: 15px;
  letter-spacing: 0.15rem;
  margin: 0 3rem;
  line-height: 1.5rem;
}

.learn {
  background: transparent;
  margin-top: 5rem;
  color: #fff;
  border: 1px solid rgba(255,255,255,0.3);
  padding: 2.5rem;
  font-weight: 500;
  width: 25rem;
  transition: all 0.4s ease-in;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
}


.learn:hover {
  background: rgba(255,255,255,0.9);
  color: black;
}

/* Deuxieme section */

.img2 {
  background-color: white;
  height: 108rem;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


/* Troisieme section */

.img3 {
  background-color: white ;
  height: 108rem;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  
}


/* Animation */

.box1 {
  opacity: 0;
  transition: all 0.4s linear;
}
.box2 {
  opacity: 0;
  transition: all 0.4s linear;
}
.box3 {
  opacity: 0;
  transition: all 0.4s linear;
}


.box4 {
    margin-top: 400px;
  opacity: 1;
  transition: all 0.4s linear;
  line-height: 1.5rem;
}


.fade-in {
  opacity: 1;
}




marquee{
  background-color: #F6A78D ;
}


.header__top__right__language {
	position: relative;
	display: inline-block;
	margin-right: 40px;
	cursor: pointer;
}

.header__top__right__language:hover ul {
	top: 23px;
	opacity: 1;
	visibility: visible;
}

.header__top__right__language:after {
	position: absolute;
	right: -21px;
	top: 1px;
	height: 20px;
	width: 1px;
	background: #000000;
	opacity: 0.1;
	content: "";
}

.header__top__right__language img {
	margin-right: 6px;
}

.header__top__right__language div {
	font-size: 14px;
	color: #1c1c1c;
	display: inline-block;
	margin-right: 4px;
}

.header__top__right__language span {
	font-size: 14px;
	color: #1c1c1c;
	position: relative;
	top: 2px;
}

.header__top__right__language ul {
	background: #222222;
	width: 100px;
	text-align: left;
	padding: 5px 0;
	position: absolute;
	left: 0;
	top: 43px;
	z-index: 9;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.header__top__right__language ul li {
	list-style: none;
}

.header__top__right__language ul li a {
	font-size: 14px;
	color: #ffffff;
	padding: 5px 10px;
}



.footer {
	background: #F3F6FA;
	padding-top: 70px;
	padding-bottom: 0;
}

.footer__about {
	margin-bottom: 10px;
}

.footer__about ul li {
	font-size: 16px;
	color: #1c1c1c;
	line-height: 36px;
	list-style: none;
}



.footer__widget {
    
	margin-bottom: 1px; 
	overflow: hidden;
}

.footer__widget h6 {
	color: #1c1c1c;
	font-weight: 700;
	margin-bottom: 10px;
}

.footer__widget ul {
	width: 50%;
	float: right; 
    
}

.footer__widget ul li {
	list-style: none;
}

.footer__widget ul li a {
	color: #1c1c1c;
	font-size: 14px;
	line-height: 32px;
}



.footer__widget p {
	font-size: 14px;
	color: #1c1c1c;
	margin-bottom: 30px;
}

.footer__copyright__payment {
	float: right;
}

